@font-face {
    font-family: paytone one;
    src: url('../../assets/PaytoneOne-Regular.ttf');
}
@font-face {
    font-family: yaldevi;
    src: url('../../assets/Yaldevi-ExtraLight.ttf');
}


.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 40vw;
    margin-left: 10vw;



}





.titlecontainer{
    color: black;
    font-family: paytone one;
    font-size: 3vw;
}
.paragraphcontainer{
    font-size: 25px;
    font-family: yaldevi;
    line-height: 50PX;

    text-align: center;
    margin: 50px 0px;
}
@media screen and (max-width: 1000px) {
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        margin-left: 0;
    
    }
    .titlecontainer{
        color: black;
        font-family: paytone one;
        font-size: 6vw;
    }
    .paragraphcontainer{
        font-size: 16px;
        font-family: yaldevi;
        line-height:30px;
        width: 80%;

    
        text-align: center;
        margin: 50px 0px;
    }
}