@font-face {
    font-family: paytone one;
    src: url('../../assets/PaytoneOne-Regular.ttf');
}
@font-face {
    font-family: yaldevi;
    src: url('../../assets/Yaldevi-ExtraLight.ttf');
}


.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #9790F3;
    color: white;
}
.about div::-webkit-scrollbar{
    display: none;
}

.paralayer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.firsthalf{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.secondhalf{

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.titlecontainer{
    font-family: paytone one;
    font-size: 52px;
}
.paragraphcontainer{
    font-size: 25px;
    font-family: yaldevi;
    line-height: 50PX;

    text-align: center;
    margin: 50px 0px;
}
.lowerparticlescontainer{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    z-index: 3;
}
.lowerparticle1{
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url("../../assets/webdev.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    bottom: 22%;
    left: 15%;
    transform:   rotateZ(-30deg);
    filter: blur(3px);
}



.lowerparticle2{
    position: absolute;
    width: 150px;
    height: 150px;
    background-image: url("../../assets/video.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 25%;
    right: 15%;
    transform:   rotateZ(30deg);
    filter: blur(5px);
}
