@font-face {
    font-family: yaldevi;
    src: url('../../assets/Yaldevi-ExtraLight.ttf');
}




.images {

    width: 50vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    flex-wrap: wrap;

    position: absolute;
    right: 0;

    font-family: yaldevi;
    font-size: 30px;

}
.img1{
    margin-right: 100px;
    
}
.img2{
    margin-left: 290px;
}
.img3{
    margin-top: 50px;
    margin-right: 150px;
}
.img4{
    margin-top: 100px;
    margin-left: 280px;
}

