
.team{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 40vw;
    margin-left: 50vw;
}




.titlecontainer{
    font-family: paytone one;
    font-size: 3vw;
}
.paragraphcontainer{
    font-size: 25px;
    font-family: yaldevi;
    line-height: 50PX;

    text-align: center;
    margin: 50px 0px;
}
@media screen and (max-width: 700px) {
    .team{
        padding-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        margin-left: 0;
        background-color: #73BDF8;
    }
    .titlecontainer{
        font-family: paytone one;
        font-size: 6vw;
    }
    .paragraphcontainer{
        font-size: 16px;
        font-family: yaldevi;
        line-height: 25px;
        width: 80%;
        height: 100vh;
        
        text-align: justify;
        margin: 0px 0px;
        margin-top: 30px;
    }
    

}