
.team{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 40vw;
    margin-left: 50vw;
}




.titlecontainer{
    font-family: paytone one;
    font-size: 52px;
}
.paragraphcontainer{
    font-size: 25px;
    font-family: yaldevi;
    line-height: 50PX;

    text-align: center;
    margin: 50px 0px;
}
